<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Analisis Sentimen Vaksin Covid-19</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/jqvmap/jqvmap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/adminlte.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/summernote/summernote-bs4.min.css') }}">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="static/dist/img/vaccine_icon.png" alt="Vaccine Icons" height="250" width="250">
    </div>
    <nav class="main-header navbar navbar-expand navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button" style="padding-top: 5px;"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
      <h1 class="card-title" style="font-size: 16pt; color:white; padding-top: 6px;">Grafik</h1>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button" style="padding-top: 5px;">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
      </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="index.html" class="brand-link">
       <span class="brand-text font-weight-light" style="margin-left: 5px; font-size: 15px;">Analisis Sentimen Vaksin Covid-19</span>
     </a>
     <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
           <li class="nav-item menu">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/menu_dataset" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Dataset
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/menu_preprocessing" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Hasil Preprocessing Data
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-comment"></i>
              <p>
                Analisis Sentimen
              </p>
              <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/menu_datatest" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Data Testing</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/menu_sentimen" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Klasifikasi Data Testing</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item-open">
            <a href="/menu_grafik" class="nav-link active">
              <i class="nav-icon fas fa-chart-bar"></i>
              <p>
                Grafik
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-dark">
            <!-- /.card-header -->
            <div class="card-body" style="height:80px;">
              <center><h2 style="color: white;">Dengan Perbaikan Kata</h2></center>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="card bg-primary">
            <div class="card-header">
              <h2 class="card-title" style="font-size:30px; font-family:times;">Accuracy: 81%</h2>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body" style="height:80px;">
              <h4 style="color: white; margin-top: 3px;">Train Accuracy: 84%</h4>
              <h4 style="color: white;">Test Accuracy: 71%</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="card bg-primary">
            <div class="card-header">
              <h2 class="card-title" style="font-size:30px; font-family:times;">Precision: 82%</h2>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body" style="height:80px;">
              <h4 style="color: white; margin-top: 3px;">Train Precision: 84%</h4>
              <h4 style="color: white;">Test Precision: 71%</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="card bg-primary">
            <div class="card-header">
              <h2 class="card-title" style="font-size:30px; font-family:times;">Recall: 81%</h2>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body" style="height:80px;">
              <h4 style="color: white; margin-top: 3px;">Train Recall: 84%</h4>
              <h4 style="color: white;">Test Recall: 71%</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="card bg-primary">
            <div class="card-header">
              <h2 class="card-title" style="font-size:30px; font-family:times;">F1-Score: 81%</h2>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body" style="height:80px;">
              <h4 style="color: white; margin-top: 3px;">Train F1-Score: 84%</h4>
              <h4 style="color: white;">Test F1-Score: 71%</h4>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card bg-dark">
            <!-- /.card-header -->
            <div class="card-body" style="height:80px;">
              <center><h2 style="color: white;">Tanpa Perbaikan Kata</h2></center>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="card bg-primary">
            <div class="card-header">
              <h2 class="card-title" style="font-size:30px; font-family:times;">Accuracy: 80%</h2>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body" style="height:80px;">
              <h4 style="color: white; margin-top: 3px;">Train Accuracy: 85%</h4>
              <h4 style="color: white;">Test Accuracy: 61%</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="card bg-primary">
            <div class="card-header">
              <h2 class="card-title" style="font-size:30px; font-family:times;">Precision: 81%</h2>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body" style="height:80px;">
              <h4 style="color: white; margin-top: 3px;">Train Precision: 86%</h4>
              <h4 style="color: white;">Test Precision: 61%</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="card bg-primary">
            <div class="card-header">
              <h2 class="card-title" style="font-size:30px; font-family:times;">Recall: 80%</h2>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body" style="height:80px;">
              <h4 style="color: white; margin-top: 3px;">Train Recall: 85%</h4>
              <h4 style="color: white;">Test Recall: 61%</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="card bg-primary">
            <div class="card-header">
              <h2 class="card-title" style="font-size:30px; font-family:times;">F1-Score: 80%</h2>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body" style="height:80px;">
              <h4 style="color: white; margin-top: 3px;">Train F1-Score: 85%</h4>
              <h4 style="color: white;">Test F1-Score: 61%</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-primary card-outline">
            <div class="card-header" style="height: 50px;">
              <h1 class="card-title" style="font-size: 22pt;">Confusion Matrix Dengan Perbaikan Kata</h1>
            </div>
            <div class="card-body" style="height: 400px;">
              <center>
                <p>
                  <img src="static/dist/img/confusion matrix perbaikan.png" style="min-height: 250px; height: 380px; max-height: 380px; max-width: 100%;">
                </p>
              </center>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-primary card-outline">
            <div class="card-header" style="height: 50px;">
              <h1 class="card-title" style="font-size: 22pt;">Confusion Matrix Tanpa Perbaikan Kata</h1>
            </div>
            <div class="card-body" style="height: 400px;">
              <center>
                <p>
                  <img src="static/dist/img/confusion matrix tanpa perbaikan.png" style="min-height: 250px; height: 380px; max-height: 380px; max-width: 100%;">
                </p>
              </center>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-primary card-outline">
            <div class="card-header" style="height: 50px;">
              <h1 class="card-title" style="font-size: 22pt;">Grafik Sentimen Dengan Perbaikan Kata</h1>
            </div>
            <div class="card-body" style="height: 400px;">
              <div class="chart">
                <canvas id="barChart1" style="min-height: 250px; height: 380px; max-height: 380px; max-width: 100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-primary card-outline">
            <div class="card-header" style="height: 50px;">
              <h1 class="card-title" style="font-size: 22pt;">Grafik Sentimen Tanpa Perbaikan Kata</h1>
            </div>
            <div class="card-body" style="height: 400px;">
              <div class="chart">
                <canvas id="barChart2" style="min-height: 250px; height: 380px; max-height: 380px; max-width: 100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-primary card-outline">
            <div class="card-header" style="height: 50px;">
              <h1 class="card-title" style="font-size: 22pt;">Word Cloud Positif</h1>
            </div>
            <div class="card-body" style="height: 400px;">
              <center>
                <p>
                  <img src="static/dist/img/wordcloud_pos.png" style="min-height: 250px; height: 380px; max-height: 380px; max-width: 100%;">
                </p>
              </center>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-primary card-outline">
            <div class="card-header" style="height: 50px;">
              <h1 class="card-title" style="font-size: 22pt;">Word Cloud Negatif</h1>
            </div>
            <div class="card-body" style="height: 400px;">
              <center>
                <p>
                  <img src="static/dist/img/wordcloud_neg.png" style="min-height: 250px; height: 380px; max-height: 380px; max-width: 100%;">
                </p>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="main-footer">
    <strong>Copyright: Fahmi Reza P</strong>
  </footer>
  <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/jquery-ui/jquery-ui.min.js') }}"></script>
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/sparklines/sparkline.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/jqvmap/jquery.vmap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/jquery-knob/jquery.knob.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/summernote/summernote-bs4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/adminlte.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/demo.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/pages/dashboard.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/pages/dashboard.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.12/js/jquery.dataTables.min.js"></script>
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../dist/js/adminlte.min.js"></script>
  <script src="../../dist/js/demo.js"></script>
  <script src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
  <script>
    $(function () {
     var areaChartData = {
      labels  : ['Label Asli', 'Label Hasil Klasifikasi'],
      datasets: [
      {
        label               : 'Negatif',
        backgroundColor     : '#f44336',
        borderColor         : '#f44336',
        pointRadius          : false,
        pointColor          : '#f44336',
        pointStrokeColor    : '#f44336',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: '#f44336',
        data                : [842, 843]
      },
      {
        label               : 'Positif',
        backgroundColor     : '#4CAF50',
        borderColor         : '#4CAF50',
        pointRadius          : false,
        pointColor          : '#4CAF50',
        pointStrokeColor    : '#4CAF50',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: '#4CAF50',
        data                : [1005, 1132]
      },
      {
        label               : 'Netral',
        backgroundColor     : '#FFCC00',
        borderColor         : '#FFCC00',
        pointRadius         : false,
        pointColor          : '#FFCC00',
        pointStrokeColor    : '#FFCC00',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: '#FFCC00',
        data                : [547, 419]
      }
      ]
    }
    var barChartCanvas = $('#barChart1').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    var temp1 = areaChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0
    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }
    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })
  })

    $(function () {
     var areaChartData = {
      labels  : ['Label Asli', 'Label Hasil Klasifikasi'],
      datasets: [
      {
        label               : 'Negatif',
        backgroundColor     : '#f44336',
        borderColor         : '#f44336',
        pointRadius          : false,
        pointColor          : '#f44336',
        pointStrokeColor    : '#f44336',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: '#f44336',
        data                : [842, 832]
      },
      {
        label               : 'Positif',
        backgroundColor     : '#4CAF50',
        borderColor         : '#4CAF50',
        pointRadius          : false,
        pointColor          : '#4CAF50',
        pointStrokeColor    : '#4CAF50',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: '#4CAF50',
        data                : [1005, 1106]
      },
      {
        label               : 'Netral',
        backgroundColor     : '#FFCC00',
        borderColor         : '#FFCC00',
        pointRadius         : false,
        pointColor          : '#FFCC00',
        pointStrokeColor    : '#FFCC00',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: '#FFCC00',
        data                : [547, 456]
      }
      ]
    }
    var barChartCanvas = $('#barChart2').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    var temp1 = areaChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0
    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }
    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })
  })
</script>
</body>
</html>
