<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Analisis Sentimen Vaksin Covid-19</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/jqvmap/jqvmap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/adminlte.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/summernote/summernote-bs4.min.css') }}">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="static/dist/img/vaccine_icon.png" alt="Vaccine Icons" height="250" width="250">
    </div>
    <nav class="main-header navbar navbar-expand navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button" style="padding-top: 5px;"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
      <h1 class="card-title" style="font-size: 16pt; color:white; padding-top: 6px;">Home</h1>
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button" style="padding-top: 5px;">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
      </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="index.html" class="brand-link">
        <span class="brand-text font-weight-light" style="margin-left: 5px; font-size: 15px;">Analisis Sentimen Vaksin Covid-19</span>
      </a>
      <div class="sidebar">
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
           <li class="nav-item menu-open">
            <a href="/" class="nav-link active">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/menu_dataset" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Dataset
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/menu_preprocessing" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Hasil Preprocessing Data
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-comment"></i>
              <p>
                Analisis Sentimen
              </p>
              <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/menu_datatest" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Data Testing</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/menu_sentimen" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Klasifikasi Data Testing</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/menu_grafik" class="nav-link">
              <i class="nav-icon fas fa-chart-bar"></i>
              <p>
                Grafik
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <center><p>
          <img src="static/dist/img/vaksin.png" style="width:800px;height:500px;margin-top: 25px;margin-bottom: 25px;">
        </p></center>
        <center><h3 style="color: black;"><b>Analisis Sentimen Vaksin Covid-19 Menggunakan Algoritma Naive Bayes dan Perbaikan Kata Levenshtein Distance</b></h3></center>
      </div><!-- /.container-fluid -->
    </div>
  </section>
</div>
<footer class="main-footer">
  <strong>Copyright: Fahmi Reza P</strong>
</footer>
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sparklines/sparkline.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jqvmap/jquery.vmap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-knob/jquery.knob.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/summernote/summernote-bs4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/adminlte.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/demo.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/pages/dashboard.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.12/js/jquery.dataTables.min.css"></script>
<script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
</body>
</html>